.productsContainer__Container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas:
    "header header header"
    "sidebar main main";
}

.productsContainer__Header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(49, 36, 36, 0.466);
}

.productsContainer__trigger {
  cursor: pointer;
  width: 14rem;
  position: relative;
  button {
    cursor: pointer;
  }
}

.productsContainer__trigger-button {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.productsContainer__trigger-dropdown {
  ul {
    position: absolute;
    top: 34px;
    width: 14rem;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(168, 187, 168);
    z-index: 999;
    max-height: 0;
    transition: max-height 0.3s ease;
    li {
      margin: 0.5rem;
      &:hover {
        color: red;
      }
    }
  }
  &.active ul {
    max-height: 12rem;
  }
}

.productsContainer__Aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  ul {
    padding: 0.5rem;
    li {
      display: flex;
      margin: 0.25rem;
      cursor: pointer;
      p {
        margin: auto 0.75rem;
      }
      input {
        cursor: pointer;
      }
    }
  }
}

.productsContainer__Main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 10px;
}

.productsContainer__Main-Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem auto;
  border-radius: 0.25rem;
  max-width: 20rem;
  overflow: hidden;
  position: relative;
  // &:hover img {
  //   transform: scale(1.1);
  // }

  img {
    padding: 0.5rem;
    height: 25rem;
    max-width: 20rem;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
}

// Media Query

@media (max-width: 576px) {
  .productsContainer__Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "sidebar"
      "main";
  }

  .productsContainer__Aside {
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  }
}
