.search__container {
  display: none;
  background-color: var(--navbar-bg);
  position: absolute;
  top: 100px;
  bottom: 0;
  z-index: 999;
  &.active {
    display: block;
    position: absolute;
    right: 0;
    width: 50%;
  }
  article {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
    margin: 0.25rem 0;
    padding: 0 0.5rem;
    input {
      font-family: var(--font-poppins);
      width: 100%;
      background-color: transparent;
      border: transparent;
      outline: none;
      border-bottom: 1px solid var(--font-color-navbar);
      background-color: var(--input-text-bg);
    }
  }
}

.btn-close,
.btn-search {
  display: block;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
